* {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#aboutpage{
  z-index: 1000;
  display: block;
  position: relative;
  right: -100vw;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transition: right 2s;
}


.aboutbg {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}



.close {
  position: absolute;
  z-index: 10001;
  left: 2vw;
  text-decoration: none;
  font-size: 60px;
  outline-style: none;
  color: #fff;
  top: 2vh;
}
.close:hover{
  color: white;
}
.about-scooby{
  position: absolute;
  bottom: 20% !important;
  right: 0px;
  height: 60vh;
  animation-name: shake;
  animation-duration:1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.about-overlay {
    position: relative;
    width: 54vw !important;
    height: 70vh !important;
    margin-top: 25% !important;
    left: 30% !important;
    background: rgba(0,0,0,0.8);
    color: white;
    transform: translate(-50%,-50%) !important;
    overflow: scroll;
}

.about-overlay p {
    position: absolute;
    margin :30px;
    font-size: 1.3em;
}

@keyframes shake {
  2% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
  4% {
    transform: translate(2.5px, -1.5px) rotate(-0.5deg); }
  6% {
    transform: translate(2.5px, 0.5px) rotate(1.5deg); }
  8% {
    transform: translate(-0.5px, 2.5px) rotate(-0.5deg); }
  10% {
    transform: translate(1.5px, -0.5px) rotate(1.5deg); }
  12% {
    transform: translate(0.5px, -1.5px) rotate(-0.5deg); }
  14% {
    transform: translate(0.5px, -1.5px) rotate(0.5deg); }
  16% {
    transform: translate(-0.5px, 0.5px) rotate(0.5deg); }
  18% {
    transform: translate(-1.5px, 1.5px) rotate(0.5deg); }
  20% {
    transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
  22% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg); }
  24% {
    transform: translate(-1.5px, 2.5px) rotate(1.5deg); }
  26% {
    transform: translate(-0.5px, 0.5px) rotate(0.5deg); }
  28% {
    transform: translate(-1.5px, 1.5px) rotate(-0.5deg); }
  30% {
    transform: translate(1.5px, 0.5px) rotate(0.5deg); }
  32% {
    transform: translate(1.5px, -0.5px) rotate(0.5deg); }
  34% {
    transform: translate(2.5px, 1.5px) rotate(-0.5deg); }
  36% {
    transform: translate(-1.5px, -0.5px) rotate(-0.5deg); }
  38% {
    transform: translate(1.5px, 2.5px) rotate(-0.5deg); }
  40% {
    transform: translate(-0.5px, -1.5px) rotate(0.5deg); }
  42% {
    transform: translate(0.5px, 0.5px) rotate(0.5deg); }
  44% {
    transform: translate(1.5px, 1.5px) rotate(-0.5deg); }
  46% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg); }
  48% {
    transform: translate(1.5px, 1.5px) rotate(1.5deg); }
  50% {
    transform: translate(0.5px, -0.5px) rotate(0.5deg); }
  52% {
    transform: translate(-0.5px, 0.5px) rotate(1.5deg); }
  54% {
    transform: translate(1.5px, -1.5px) rotate(0.5deg); }
  56% {
    transform: translate(-0.5px, -1.5px) rotate(1.5deg); }
  58% {
    transform: translate(2.5px, 1.5px) rotate(0.5deg); }
  60% {
    transform: translate(-0.5px, -0.5px) rotate(1.5deg); }
  62% {
    transform: translate(1.5px, 2.5px) rotate(-0.5deg); }
  64% {
    transform: translate(-1.5px, 0.5px) rotate(-0.5deg); }
  66% {
    transform: translate(2.5px, 1.5px) rotate(-0.5deg); }
  68% {
    transform: translate(2.5px, 0.5px) rotate(1.5deg); }
  70% {
    transform: translate(-1.5px, -1.5px) rotate(0.5deg); }
  72% {
    transform: translate(-1.5px, -0.5px) rotate(-0.5deg); }
  74% {
    transform: translate(-0.5px, -1.5px) rotate(1.5deg); }
  76% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg); }
  78% {
    transform: translate(1.5px, -0.5px) rotate(1.5deg); }
  80% {
    transform: translate(-0.5px, 1.5px) rotate(1.5deg); }
  82% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg); }
  84% {
    transform: translate(-0.5px, 0.5px) rotate(1.5deg); }
  86% {
    transform: translate(1.5px, -0.5px) rotate(1.5deg); }
  88% {
    transform: translate(2.5px, -1.5px) rotate(0.5deg); }
  90% {
    transform: translate(0.5px, -1.5px) rotate(-0.5deg); }
  92% {
    transform: translate(-0.5px, -1.5px) rotate(1.5deg); }
  94% {
    transform: translate(2.5px, 0.5px) rotate(1.5deg); }
  96% {
    transform: translate(-0.5px, -1.5px) rotate(-0.5deg); }
  98% {
    transform: translate(-0.5px, -1.5px) rotate(0.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); }
}
/**sponsor page starts*/

#sponsorpage{
  z-index: 10000;
  display: block;
  position: absolute;
  right: -100vw;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transition: right 2s;
}


.sponsorbg {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.sponsor-overlay {
  display: block;
  position: relative;
  width: 80vw;
  height: 90vh;
  top: 5vh;
  left: 10vw;
  background: rgba(0,0,0,0.8);
  color: white;
  text-align: center;
}

.sponsor-overlay p {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    font-size: 3em;
}


.spclose {
  position: absolute;
  z-index: 10001;
  left: 13vw;
  text-decoration: none;
    font-size: 60px;
  color: #fff;
  top: 7vh;
}
/**sponsor page ends*/
/**contact page starts*/

#contactpage{
  z-index: 10000;
  display: block;
  position: absolute;
  right: -100vw;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transition: right 2s;
}


.contactbg {
  width: 100vw;
  max-width: 100%;
  height: auto;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.contact-overlay {
  padding: 4% 8%;
  display: block;
  position: relative;
  width: 80vw;
  height: 68vh;
  margin-top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(0,0,0,0.8);
  color: white;
  text-align: center;
}



.contclose {
  position: absolute;
  z-index: 10001;
  left: 2vw;
  text-decoration: none;
  font-size: 60px;
  color: black;
  top: 1.5vh;
  font-weight: 600;
}

.contacthead {
  color: #fff;
  text-align: center;
  padding-bottom: 2%;
}
/**contact page ends*/



#schedulepage{
  z-index: 10000;
  display: block;
  position: absolute;
  right: -100vw;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transition: right 2s;
}


.schbg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}


.scclose {
  position: absolute;
  z-index: 10001;
  left: 3vw;
  text-decoration: none;
    font-size: 60px;
  color: #fff;
  top: 4vh;
}
