*{
  font-family: 'Raleway', sans-serif;
  z-index: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  text-justify : inner-word;
}
#home{
  background: linear-gradient(rgba(82,201,251,1),rgba(122,213,252,0.1),rgba(255,0,0,0));
}
.shore{
  margin-top: 10%;
  margin-left: -2%;
  max-width: 110%;
}
#canvas{
  margin-top: -10%;
  max-width: 110%;
}
.water{
  max-width: 110%;
}
.zealicon {
	position: absolute;
	bottom: 18%;
	width: 50%;
	height: auto;
	transition:bottom 2s, transform 2s;
	z-index: 2;
	left: 70%;
	transform: translateX(-50%);
}
.zealiconhover {
	transform:  translateX(-50%) scale(1.2);
	bottom: 50%;
}
.sun {
	width: 8%;
	position: absolute;
	bottom: 28%;
	left: 20%;
	z-index: -1;
	transition: transform 2s, left 2s, bottom 2s;
}
.sunhover {
	left: 20%;
	transform: scale(1.2);
	bottom: 50%;
}
.cloud1 {
	top: 60px;
	width: 150px;
	position: absolute;
	animation: cloud-move1 60s linear infinite;
	animation-direction: normal;
}
.cloud2 {
	top: 30px;
	position: absolute;
	animation: cloud-move5 46s linear infinite;
	animation-direction: normal;
}
.cloud3 {
	top: 17px;
	width: 90px;
	position: absolute;
	animation: cloud-move3 70s linear infinite;
	animation-direction: normal;
}
.cloud4 {
	top: 28px;
	position: absolute;
	animation: cloud-move4 56s linear infinite;
	animation-direction: normal;
}
.cloud5 {
	top: 13px;
	width: 70px;
	position: absolute;
	animation: cloud-move2 50s linear infinite;
	animation-direction: normal;
}
.birds {
	position: absolute;
	z-index: 999;
	width: 13%;
  	animation-name: birds-anim;
  	animation-duration: 50s;
  	animation-iteration-count: infinite;
  	animation-timing-function: ease-in-out;
  	animation-direction: normal;
}
/*keyframes*/
@keyframes cloud-move1 {
	from {
		right: -400px;
	}
	to {
		right: 110vw;
	}
}
@keyframes cloud-move5 {
	from {
		right: -5vw;
	}
	to {
		right: 110vw;
	}
}
@keyframes cloud-move2 {
	0% {
		right: 50vw;
	}
	50% {
		right: 100vw;
	}
	50.00000001%{
		right: -150px;
	}
	100% {
		right: 50vw;
	}
}
@keyframes cloud-move3 {
	0% {
		right: 40vw;
	}
	50% {
		right: 110vw;
	}
	50.00000001%{
		right: -150px;
	}
	100% {
		right: 40vw;
	}
}
@keyframes cloud-move4 {
	0% {
		right: 80vw;
	}
	50% {
		right: 110vw;
	}
	50.00000001%{
		right: -150px;
	}
	100% {
		right: 80vw;
	}
}
@keyframes birds-anim {
	0% {
		left: 20%;
		top: 35%;
	}
	50% {
		left: 5%;
		top: -5%;
	}
	100% {
		left: 20%;
		top: 35%;
	}
}
/*media queries*/
@media(max-width: 768px){
	.shore{
		margin-left: -3%;
	}
  #canvas{
    margin-top: 4%;
  }
  .zealicon{
    bottom: 45%;
    width: 42%;
  }
  .sun{
    bottom: 50%;
  }
  .cloud1{
    width: 100px;
  }
  .cloud3{
    width: 75px;
  }
  .cloud5{
    width: 50px;
  }
}
@media(min-width: 1200px){
  .shore{
    width: 110%;
  }
}
@media(min-width: 1300px){
  .shore{
    width: 110%;
  }
}
