*{
  font-family: 'Raleway', sans-serif;
  z-index: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  text-justify : inner-word;
}
.shore{
  margin-top: 10%;
  margin-left: -2%;
  max-width: 110%;
}
#canvas{
  margin-top: -15%;
  max-width: 110%;
}
.water{
  max-width: 110%;
}
.zealicon {
	position: absolute;
	bottom: 20%;
	width: 50%;
	height: auto;
	transition:bottom 2s, transform 2s;
	z-index: 2;
	left: 70%;
	transform: translateX(-50%);
}
.zealiconhover {
	transform:  translateX(-50%) scale(1.2);
	bottom: 42%;
}
@media(max-width: 768px){
	.shore{
		margin-left: -3%;
	}
  #canvas{
    margin-top: 1%;
  }
  .zealicon{
    bottom: 35%;
  }
}
